#header {
    height:50px;
    width:100%;
    top:0px;
    left:0px;
    background: #353333;
    color:#CA3D3D;
    position:fixed;
    
}
body
{
    height: 100%;
    margin:0px;
    background-color: #A9A5A5;
    
}

.whiteText{
    color: #ffffff
}

#mainContainer{
    
    height:100%;
    min-height: 100%;
    /*background: #00ff00;*/
    margin-top: 50px;
    position:relative;
}

#footer {
    height:50px;
    background: #353333;
    color:#BF1313;
    
    padding-left: 10px;
    
    
    
    /*width:100%;
    bottom:0px;
    left:0px;
    
    position:fixed;*/
}
#footer h3 {
    position: relative;
    top: 10px;
}
#container{
    background-color: #ff0000;
    height: 100%;   
}


#searchResultContainer{
    background-color: #CCCCCC;
    height: 100%;
}